@linpx-orange: rgb(249, 157, 88);
@linpx-color: linear-gradient(
  45deg,
  rgb(236, 115, 55) 0%,
  rgb(236, 138, 58) 25%,
  rgb(237, 178, 63) 75%,
  rgb(238, 199, 65) 100%
);
body {
  font-family: 'Noto Sans SC' !important;
  word-break: break-word;
}

.ka-wrapper {
  height: 100%;

  .ka-content {
    height: 100%;
  }
}

// antd popover组件，不要角标
.am-popover-content {
  border-radius: 6px;
  box-shadow: 0px 0px 10px #4448;
  .am-popover-inner {
    border-radius: 6px;
  }
}

.am-popover-arrow {
  display: none;
}

.text-linpx-orange {
  color: @linpx-orange;
}

.text-linpx {
  background-image: @linpx-color;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-linpx-orange {
  background-color: @linpx-orange;
}

.bg-linpx-orange-unable {
  background-color: fade(@linpx-orange, 60%);
}

.bg-linpx {
  background-image: @linpx-color;
}

::-webkit-scrollbar {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 0;
  height: 0;
}

.show-scrollbar {
  ::-webkit-scrollbar {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 0;
    height: 0;
  }
}

.bg-center {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.lp-bgcolor {
  background-color: rgb(255, 247, 243);
}

.lp-shadow {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px #888;
}

.am-toast-text-info {
  white-space: pre;
}

// 多行文字省略
.u-line-1 {
  -webkit-line-clamp: 1;
}

.u-line-2 {
  -webkit-line-clamp: 2;
}

.u-line-3 {
  -webkit-line-clamp: 3;
}

.u-line-4 {
  -webkit-line-clamp: 4;
}

.u-line-5 {
  -webkit-line-clamp: 5;
}

.u-line-1,
.u-line-2,
.u-line-3,
.u-line-4,
.u-line-5 {
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box; // 弹性伸缩盒
  -webkit-box-orient: vertical; // 设置伸缩盒子元素排列方式
}
