.bg-linpx {
  background-image: linear-gradient(
    45deg,
    rgb(236, 115, 55) 0%,
    rgb(236, 138, 58) 25%,
    rgb(237, 178, 63) 75%,
    rgb(238, 199, 65) 100%
  );
}

::-webkit-scrollbar {
  overflow-x: hidden;
  width: 0;
}

.bg-center {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.am-toast-text-info {
  white-space: pre;
}
